html {
  height: 100%;
}

body {
	min-height: 100%;
	display: grid;
	grid-template-rows: 9% 87%;
	grid-template-columns: 5% 90% 5%;
	background-repeat: no-repeat;
	overflow-y: hidden;
}

.pad {
	padding: 1rem;
}

.gutter {
	grid-row-start: 1;
	grid-row-end: 3;
}

.left {
	grid-column-start: 1;
	grid-column-end: 2;
}

.right {
	grid-column-start: 3;
	grid-column-end: 4;
}

header {
	grid-row-start: 1;
	grid-row-end: 2;
	grid-column-start: 2;
	grid-column-end: 3;
	text-align: center;
}

#main {
	grid-row-start: 2;
	grid-row-end: 3;
	grid-column-start: 2;
	grid-column-end: 3;
	display: grid;
	grid-template-rows: 500px 100px;
}

.response { margin: 15px 0;}

#responses {
	grid-row-start: 1;
	grid-row-end: 3;
	overflow-y: scroll;
}


#ui {
	display: inline-grid;
	grid-row-start: 3;
  	grid-row-end: 4;
  	grid-template-columns: 90% 10%;
  	margin-top: 10px;
}

#input {
	grid-row-start: 1;
  	grid-row-end: 2;
}

#input-field {
	resize: none;
	width: 90%;
	height: 140px;
	margin-left: 3vw;
	font-size: 18px; 
}


#submit {
	grid-row-start: 1;
  	grid-row-end: 2;
}

#submit-button {
	border: 1px solid black;
	border-radius: .25em;
	text-align: center;
	padding: 5px 0; 
	width: 60%;
}