html {
  height: 100%;
}

body {
	min-height: 100%;
	grid-template-rows: 9% 87%;
	grid-template-columns: 5% 90% 5%;
	overflow-y: hidden;
}

.grid { display: grid; }

.pad {
	padding: 1rem;
}

.row-1-2 {
	grid-row-start: 1;
	grid-row-end: 2;
}

.row-2-3 {
	grid-row-start: 2;
	grid-row-end: 3;
}

.col-2-3 {
	grid-column-start: 2;
	grid-column-end: 3;
}

.gutter {
	grid-row-start: 1;
	grid-row-end: 3;
}

.left {
	grid-column-start: 1;
	grid-column-end: 2;
}

.right {
	grid-column-start: 3;
	grid-column-end: 4;
}

header { text-align: center; }

#main {
	grid-template-rows: 90% 10%;
	grid-template-columns: 50%;
}

.in-out { height: 500px; }

#responses { overflow-y: scroll; }

.response { margin: 15px 0; }

#ui {
  	grid-gap: 40px;
  	grid-template-rows: 500px 10px;	
}

#input-field {
	resize: none;
	width: 90%;
	font-size: 18px; 
}

#submit-button {
	text-align: center;
	padding: 5px 0; 
	width: 80%;
}